dist: trusty
sudo: required
language: bash
before_install:
- curl https://raw.githubusercontent.com/express42/otus-homeworks/2018-09/run.sh |
  bash
notifications:
  slack:
    on_success: always
    rooms:
      - secure: 0xwH5imEqB23G0CZB/a5l+Fi7yGaM/rouAusyDtQlDmfAMG5QcEX68Z7X7JVIl1gb1dKG6yZWke9RGkL9+Y2r7W2ncv51j6ghxyJrWrp7iI282GKph/F+aTDUYI7bqiEn0dT+5nuzF9YtRJk+7DlOoyryh45dDUn9kV2mdMSOW6Jwff8Nx9k0oSrMwu1tAiFEvUK++lvl8v3nmoox2aeMYLvGqZFEk7Dg6DKD9j7Zaj87ev5YvSJpLURlW38CZ770kCD3n9Oih2kPyl4Y5dtRTh5F9g/AuoabQPqZQGiVPcu1HrBd0/nncmKaXPiwfQMFlnyKYDfCy62G9Loo0btHAzCe/RiRQ7y7iWMl3TBEzKQKymq+ytwYNn8yG/7QCaznjQP2Aj9CjR4N+R96VRHcmVAOuyDDxJ+OUn8BPtf3rJYvJ71D6IS00HiRHLV1VvW7aPHeMlN87jLdbQ0S1K4a26IT3+w73hmPKu81RC03NB1naS/r+MODlp3Om69mjHNbc+P5UcqIil54+edcdFbnPpKjRexKs7YX1373d9yiuGDbqbenRxVyTNRS00LDJOjC6WWYUTnCtokwITmg5wVENxZU2myBatCBuDdZgl5xO7c8OyQ4giqM4uzxPx+y3su5lLHd87RuzjOYLuVjAVT4BopOyhBC0VHD37btg41by4=
